.wallet-box{
    background: #f5f5f7;
}
.wallet-box-in{
    width: 1200px;
    background: #f5f5f7;
    margin: 0 auto ;
    padding-bottom: 70px;
}
.wallet-nav{
    height: 70px;
    line-height: 70px;
    font-size: 14px;
    color: #333;
}
.wallet-nav a{
    font-size: 14px;
    color: #757575;
}
.wallet-nav a:last-child{
    color: #757575;
}
.wallet-main{
    overflow: hidden;
}
.wallet-main-l{
    width: 208px;
    height: 650px;
    background: #fff;
}
.wallet-main-r{
    width: 980px;
    margin-left: 12px;
}
.wallet-main-l, .wallet-main-r{
    float: left;
}
.wallet-main-l-user{
    height: 108px;
    text-align: center;
    color: #666;
}
.wallet-main-l-box{
    box-sizing: border-box;
    padding-left: 15px;
}

.wallet-main-l-user p:first-child{
    width: 48px;
    height: 48px;

    border-radius: 50%;
    margin: 0 auto;
    margin-bottom: 15px;
    margin-top: 30px;
}


.wallet-main-l-dingdan{
    margin-bottom: 40px;
}
.wallet-main-l-dingdan p:first-child{
    box-sizing: border-box;
    font-size: 16px;
    color: #333;
}
.wallet-main-l-dingdan p img{
    margin-right: 5px;
}
.wallet-main-l-dingdan p:nth-child(2){
    box-sizing: border-box;
    padding-left:35px;
    margin-top: 7px;
}
.wallet-main-l-dingdan p:nth-child(2) a{
    font-size: 14px;
    color: #757575;
}


.wallet-main-l-qianbao{
    margin-bottom: 40px;
}
.wallet-main-l-qianbao p:first-child{
    box-sizing: border-box;
    font-size: 16px;
    color: #333;
}
.wallet-main-l-qianbao p img{
    margin-right: 5px;
}
.wallet-main-l-qianbao p:nth-child(2){
    box-sizing: border-box;
    padding-left:35px;
    margin-top: 8px;
    margin-bottom: 13px;
}
.wallet-main-l-qianbao p:nth-child(3){
    box-sizing: border-box;
    padding-left:35px;
    margin-top: 8px;
    margin-bottom: 13px;
}
.wallet-main-l-qianbao p:nth-child(4){
    box-sizing: border-box;
    padding-left:35px;
}
.wallet-main-l-qianbao p:nth-child(2) a{
    font-size: 14px;
    color: #757575;
}
.wallet-main-l-qianbao p:nth-child(3) a{
    font-size: 14px;
    color: #757575;
}
.wallet-main-l-qianbao p:nth-child(4) a{
    font-size: 14px;
    color: #757575;
}


.wallet-main-l-me{
    margin-bottom: 40px;
}
.wallet-main-l-me p:first-child{
    box-sizing: border-box;
    font-size: 16px;
    color: #333;
}
.wallet-main-l-me p img{
    margin-right: 5px;
}
.wallet-main-l-me p:nth-child(2){
    box-sizing: border-box;
    padding-left:35px;
    margin-top: 7px;
}
.wallet-main-l-me p:nth-child(2) a{
    font-size: 14px;
    color: #757575;
}



.wallet-main-l-address{
    margin-bottom: 40px;
}
.wallet-main-l-address p:first-child{
    box-sizing: border-box;
    font-size: 16px;
    color: #333;
}
.wallet-main-l-address p img{
    margin-right: 5px;
}
.wallet-main-l-address p:nth-child(2){
    box-sizing: border-box;
    padding-left:35px;
    padding-right:35px;
    line-height: 18px;
    margin-top: 5px;
}
.wallet-main-l-address p:nth-child(2) a{
    font-size: 14px;
    color: #999;
    cursor: auto;
}
.wallet-main-l-address p:nth-child(3){
    box-sizing: border-box;
    padding-left:6px;
    font-size: 14px;
    color: #999;
    margin-top: 10px;
}
.wallet-main-r .tixian{
    height: 260px;
    background: #fff;
    box-sizing: border-box;
    padding: 30px 0px 0 30px;
}
.tixian-title{
    color: #757575;
    font-size: 16px;
}
.tixian-price{
    color: #fb4b04;
    font-size: 22px;
    margin-top: 20px;
    margin-bottom: 30px;
}
.tixian-price label{
    color: #fb4b04;
    font-size: 32px;
}
.wallet-main-r .tixian-info{
    height: 72px;
}
.tixian-info-l, .tixian-info-r{
    width: 50%;
    float: left;
    height: 72px;
}
.tixian-info-r{
    box-sizing: border-box;
    padding-left: 54px;
}
.tixian-info-l{
    border-right: 1px solid #ebebeb;
}
.tixian-info-l span{
    font-size: 14px;
    color: #808080;
}
.tixian-info-l span img{
    vertical-align:-1px;
    margin-left: 5px;
}
.tixian-info-l .keyong{
    margin-bottom: 20px;
}
.keyong-info{
    height: 30px;
    line-height: 30px;
}
.keyong-info span{
    color:#6e6e6e;
    font-size: 14px;
}
.keyong-info label{
    color: #6e6e6e;
    font-size: 32px;
    font-weight: 900;
}
.keyong-info button{
    color: #fff;
    font-size: 16px;
    background: #02ad63;
    outline: none;
    border-radius: 3px;
    border: none;
    width: 60px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    margin-left: 10px;
    vertical-align: 7px;
}
.in-sure{
    margin-bottom: 12px;
    position: relative;
}
.in-sure span{
    font-size: 14px;
    color: #808080;
}
.in-sure span img{
    vertical-align:-1px;
    margin-left: 5px;
}
.in-sure-info span{
    color:#6e6e6e;
    font-size: 14px;
}
.in-sure-info label{
    color: #6e6e6e;
    font-size: 32px;
    font-family: 900;
}
.in-sure-more {
    width: 260px;
    height: 90  px;
    border: 1px solid #e5e5e5;
    position: absolute;
    z-index: 5;
    background: #fff;
    box-sizing: border-box;
    padding: 10px 18px 5px 18px;
    display: none;
    top: 22px;
}
.in-sure-more-box{
    position: relative;
}
.in-sure-more-box span{
    color: #000000;
    font-size: 14px;
}
.in-sure-more-box span label{
    color: #ff6060;
    font-size: 14px;
}
.in-sure:hover .in-sure-more{
    display: block;
}
.wallet-main-r-title{
    height: 50px;
    background: #fff;
    line-height: 50px;
    box-sizing: border-box;
    padding-left: 30px;
    margin-top: 16px;
    margin-bottom: 10px;
}
.wallet-main-r-title h4{
    color: #333333;
    font-size: 14px;
}
.wallet-main-r-jiaoyi{
    box-sizing: border-box;
    padding: 10px 30px 0 30px;
    background: #fff;
    border: 2px solid #efeff1
}
.wallet-main-r-jiaoyi-title{
    height: 32px;
    background: #f5f5f7;
    box-sizing: border-box;
    padding-left: 27px;
}
.wallet-main-r-jiaoyi-title ul{
    content: "";
    display: block;
    overflow: hidden;
    height: 32px;
    line-height: 32px;
}
.wallet-main-r-jiaoyi-title ul li{
    float: left;
    font-size: 14px;
    color: #808081;
    margin-right: 137px;
}
.wallet-main-r-jiaoyi-title ul li:last-child{
    margin-right: 0px;
}
.wallet-main-r-jiaoyi-main{
    box-sizing: border-box;
}
.wallet-main-r-jiaoyi-main ul{
    overflow: hidden;
}
.wallet-main-r-jiaoyi-main ul li{
    box-sizing: border-box;
    padding-top: 24px;
    padding-bottom:24px;
    height: 62px;
    border-bottom: 1px solid #f2f2f2;
}
.wallet-main-r-jiaoyi-main ul li:last-child{
    border-bottom: none;
}
.wallet-main-r-jiaoyi-main ul li span{
    font-size: 12px;
    color: #8b8b8b;
    display: inline-block;
    width: 16%;
    text-align: center;
    margin-right: 32px;
}
.wallet-main-r-jiaoyi-main ul li span:last-child{
    margin-right: 0px;
}
.wallet-main-r-jiaoyi-main-more{
    text-align: center;
    height: 60px;
    line-height: 60px;
}
.wallet-main-r-jiaoyi-main-more p{
    display: inline-block;
    width: 120px;
    height: 30px;
    border: 1px solid #adadad;
    line-height: 30px;
}

.tixian-box{
    display: block;
}
.confirmed-box{
    display: block;
}
.wallet-main-r-jiaoyi-main-box{
    display: none;
}
.wallet-confirmed{
    height: 50px;
    line-height: 50px;
    box-sizing: border-box;
    padding-left: 30px;
    background: #fff;
}
.wallet-confirmed p{
    color: #333;
    font-size: 18px;
}
.wallet-confirmed-main{
    background: #fff;
    margin-top: 5px;
    box-sizing: border-box;
    padding-left: 30px;
    padding-top: 30px;
    padding-right: 30px;

}
.wallet-confirmed-main-top{
    height: 166px;
}
.wallet-confirmed-main-top-sure-more{
    position: relative;
}
.wallet-more-sure{
    position: absolute;
    width: 258px;
    height: 95px;
    top:22px;
    left: -67px;
    background: #fff;
    z-index: 5;
    border: 1px solid #ddd;
}
.wallet-more-sure{
    box-sizing: border-box;
    padding-left: 20px;
    padding-top: 10px;
    padding-right: 18px;
    font-size: 14px;
    color: #333333;
    display: none;
}
.wallet-more-sure label{
    color: #ff6060;
}
.wallet-confirmed-main-top-sure-more:hover .wallet-more-sure{
    display: block;
}
.wallet-confirmed-main-center{
    margin-top: 20px;
    font-size: 24px;
    color: #fb4b04;
}
.wallet-confirmed-main-center label{
    font-size: 28px;
    color: #fb4b04;
}
.wallet-confirmed-main-center span{
    font-size: 14px;
    color: #808080;
}
.wallet-confirmed-main-info{
    min-height: 398px;
    border: 1px solid #ddd;
    background: #fff;
}
.wallet-confirmed-main-info-top{
    height:32px;
    background: #f5f5f7;
    box-sizing: border-box;
    padding-left: 25px;
}
.wallet-confirmed-main-info-top ul li{
    height: 32px;
    float: left;
    line-height: 32px;
    font-size: 14px;
    color: #808080;
}
.wallet-confirmed-main-info-top ul li:first-child{
    margin-right: 322px;
}
.wallet-confirmed-main-info-top ul li:nth-child(2){
    margin-right:295px;
}
.wallet-confirmed-main-info-center ul li{
    height: 100px;
    box-sizing: border-box;
    border-bottom: 1px solid  #ddd;
}
.wallet-confirmed-main-info-center ul li p{
    display: inline-block;
    height: 100px;
    font-size: 14px;
    color:#808080;
    line-height: 100px;
}
.wallet-confirmed-main-info-center ul li p:first-child{
    width: 330px;
    border-right: 1px solid #ddd;
    box-sizing: border-box;
    padding-left: 25px;
}
.wallet-confirmed-main-info-center ul li p:nth-child(2){
    width: 355px;
    border-right: 1px solid #ddd;
    box-sizing: border-box;
    padding-left: 55px;
}
.wallet-confirmed-main-info-center ul li p:nth-child(3){
    width: 223px;
    box-sizing: border-box;
    padding-left: 45px;
}
.wallet-main-r-jiaoyi-no{
    height:271px;
    box-sizing: border-box;
    padding-top: 100px;
}
.wallet-main-r-jiaoyi-no{
    text-align: center;
}
.wallet-main-r-jiaoyi-no p{
    font-size: 14px;
    color: #333333;
}

/* 个人中心 */
.user-detail-box{
    height: 650px;
    background: #fff;
    box-sizing: border-box;
    padding-left: 30px;
    padding-right: 30px;
}
.user-detail-box-title{
    height: 80px;
    line-height: 80px;
    color: #333;
    font-size: 18px;
    border-bottom: 1px solid #e6e6e6;
}
.user-detail-phone,.user-detail-wx,.user-detail-zfb{
    height: 146px;
    border-bottom: 1px solid #e6e6e6;
    box-sizing: border-box;
    padding-left: 60px;
    padding-top: 50px;
    position: relative;
}
.user-detail-phone p:nth-child(2){
    font-size: 16px;
    color: #333;
    margin-bottom: 5px;
}
.user-detail-phone p:nth-child(3){
    font-size: 14px;
    color: #757575;
}
.user-detail-wx p:nth-child(2){
    font-size: 16px;
    color: #333;
    margin-bottom: 5px;
}
.user-detail-wx p:nth-child(3){
    font-size: 14px;
    color: #757575;
}
.user-detail-zfb p:nth-child(2){
    font-size: 16px;
    color: #333;
    margin-bottom: 5px;
}
.user-detail-zfb p:nth-child(3){
    font-size: 14px;
    color: #757575;
}
.user-detail-imgbox{
    width: auto;
    height:auto;
    border: none;
    position: absolute;
    top: 50%;
    margin-top: -24px;
    left: 6px;
}
.user-detail-box-main p label{
    color: #fb4234;
    font-size: 14px;
    margin-left:10px;
}
.user-detail-box-main button{
    width: 120px;
    height: 40px;
    border: 1px solid #ddd;
    background: #fff;
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -20px;
    border-radius: 4px;
}
.user-mask{
    width: 100%;
    height: 100%;
    background:black;
    opacity: 0.5;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    display: none;
}
.user-detail-box-graphical{
    width: 600px;
    height: 270px;
    background: #fff;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -300px;
    margin-top: -135px;
    z-index: 7;
    border-radius: 6px;
    display: none;

}
.user-detail-title{
    height: 50px;
    background: #f5f5f7;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
    line-height: 50px;
}
.user-detail-title-l{
    float: left;

}
.user-detail-title-l{
    font-size: 16px;
}
.user-detail-title-r{
    float: right;
    color: #757575;
    line-height: normal;
    width: 16px;
    height: 16px;
    background: url("../../Images/wallet/dialogClose.png")no-repeat;
    margin-top: 17px;
}
.user-detail-title-r{
    font-size: 18px;
}
.user-detail-graphical-main{
    text-align: center;
    box-sizing: border-box;
    padding-top: 50px;
}
.user-detail-graphical-main input{
    width: 214px;
    height: 40px;
    box-sizing: border-box;
    padding-left: 10px;
    color: #333;
}
.user-detail-graphical-main span img{
    height: 40px;
}
.user-detail-graphical-main button{
    width: 150px;
    height: 40px;
    background: #02ad63;
    outline: none;
    color: #fff;
    font-size: 16px;
    border: none;
    margin-top: 30px;
    border-radius: 3px;
}
.user-detail-box-prompt{
    width: 600px;
    height: 242px;
    background: #fff;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -300px;
    margin-top: -125px;
    z-index: 7;
    border-radius: 6px;
    display: none;
}
.user-detail-prompt-main{
    text-align: center;
    box-sizing: border-box;
    padding-top: 50px;
}
.user-detail-prompt-main p{
    font-size: 16px;
    color: #333;
    margin-bottom: 30px;
}
.user-detail-prompt-main button{
    width: 150px;
    height: 40px;
    background: #02ad63;
    outline: none;
    color: #fff;
    font-size: 16px;
    border: none;
    border-radius: 3px;
}


.user-detail-box-error{
    width: 600px;
    height: 250px;
    background: #fff;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -300px;
    margin-top: -125px;
    z-index: 7;
    border-radius: 6px;
    display: none;
}
.user-detail-error-main{
    text-align: center;
    box-sizing: border-box;
    padding-top: 50px;
}
.user-detail-error-main p{
    font-size: 16px;
    color: #333;
    margin-bottom: 30px;
}
.user-detail-error-main button{
    width: 150px;
    height: 40px;
    background: #02ad63;
    outline: none;
    color: #fff;
    font-size: 16px;
    border: none;
    border-radius: 3px;
}

.user-detail-box-zfb{
    width: 600px;
    height: 350px;
    background: #fff;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -300px;
    margin-top: -195px;
    z-index: 7;
    border-radius: 6px;
    display: none;
}
.user-detail-box-zfberror{
    width: 600px;
    height: 350px;
    background: #fff;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -300px;
    margin-top: -195px;
    z-index: 7;
    border-radius: 6px;
    display: none;
}
.user-detail-title{
    border-radius: 6px;
}
.user-detail-zfb-main p:first-child{
    margin: 0 auto;
    border-radius: 50%;
    border: 1px solid #ddd;
    width: 76px;
    height: 76px;
    overflow: hidden;
    margin-bottom: 10px;
}
.user-detail-zfb-main p:nth-child(2){
    font-size: 16px;
    color: #757575;
    margin-bottom:15px;
}
.user-detail-zfb-main p:nth-child(3){
    font-size: 16px;
    color: #333;
    margin-bottom:15px;
}
.user-detail-zfb-main{
    text-align: center;
    box-sizing: border-box;
    padding-top: 50px;
}
.user-detail-zfb-main button{
    width: 150px;
    height: 40px;
    background: #02ad63;
    outline: none;
    color: #fff;
    font-size: 16px;
    border: none;
    border-radius: 3px;
}

.user-detail-box-zfbbind{
    width: 600px;
    height: 440px;
    background: #fff;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -300px;
    margin-top: -195px;
    z-index: 7;
    border-radius: 6px;
    display: none;
}
.user-detail-zfbbind-main{
    text-align: center;
    box-sizing: border-box;
    padding-top: 50px;

}


.user-detail-box-passuss{
    width: 600px;
    height: 390px;
    background: #fff;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -300px;
    margin-top: -195px;
    z-index: 7;
    border-radius:6px;
    display: none;
}
.user-detail-passuss-main{
    text-align: center;
}
.user-detail-passuss-main p:first-child{
    margin-bottom: 20px;
}
.user-detail-passuss-main button{
    width: 150px;
    height: 40px;
    background: #02ad63;
    outline: none;
    color: #fff;
    font-size: 16px;
    border: none;
    border-radius: 3px;
}
.user-detail-passuss-main p{
    text-align: center;
}
.user-detail-passuss-main p:first-child{
    margin-top: 50px;
    height: 96px;
}
.user-detail-passuss-main p:nth-child(2){
    color: #757575;
    font-size: 16px;
    margin-bottom: 30px;
}


.user-detail-box-passet{
    width: 600px;
    height: 320px;
    background: #fff;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -300px;
    margin-top: -195px;
    z-index: 7;
    border-radius:6px;
    display: none;
}
.user-detail-passet-main h4{
    color: #fb6a34;
    box-sizing: border-box;
    margin-left: 20px;
    margin-top: 5px;
    margin-bottom: 30px;
    font-size: 12px;
}
.user-detail-passet-box{
    box-sizing: border-box;
    padding-left: 80px;

}
.user-detail-passet-first input{
    height: 40px;
    width: 260px;
    margin-bottom: 20px;
    margin-left: 20px;
    box-sizing: border-box;
    padding-left: 10px;
    border: 1px solid #e6e6e6;
}
.user-detail-passet-first span{
    font-size: 16px;
    color:#8c8c8c;
}
.user-detail-passet-second input{
    height: 40px;
    width: 260px;
    margin-left: 20px;
    box-sizing: border-box;
    padding-left: 10px;
    border: 1px solid #e6e6e6;
}
.user-detail-passet-second span{
    font-size: 16px;
    color:#8c8c8c;
}
.user-detail-passet-box p{
    font-size: 12px;
    color: #fb4234;
    margin-top: 5px;
    margin-left: 124px;
}
.user-detail-passet-box button{
    width: 150px;
    height: 40px;
    background: #cccccc;
    text-align: center;
    color: #fff;
    outline: none;
    border-radius: 5px;
    border: none;
    margin-left: 144px;
    margin-top: 30px;
    font-size: 16px;
}


.user-detail-box-passettel{
    width: 600px;
    height: 280px;
    background: #fff;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -300px;
    margin-top: -112px;
    z-index: 7;
    border-radius:6px;
    display: none;
}

.user-detail-passettel-main p{
    font-size: 14px;
    color: #666666;
    margin-top: 50px;
    margin-bottom: 10px;
    text-align: center;
}
.user-detail-passettel-main input{
    width: 260px;
    height: 40px;
    display: inline-block;
    margin-left: 140px;
    box-sizing: border-box;
    padding-left: 5px;
    border: 1px solid #e6e6e6;
}
.user-detail-passettel-main button{

    height: 42px;
    outline: none;
    border: none;
    background: #e5e5e5;
    font-size: 14px;
    color: #757575;
    position: relative;
    top: 0px;
    margin-left: 10px;
    border-radius: 5px;
    width: 100px;
}
.passettel-error{
    box-sizing: border-box;
    padding-left: 138px;
    margin-top: 10px;
    font-size: 12px;
    color:#fb4234;
    display: none;
}
.passettel-iserror{
    border: 1px solid #fb4234;
}



.user-detail-box-msgpush{
    width: 600px;
    height: 244px;
    background: #fff;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -300px;
    margin-top: -112px;
    z-index: 7;
    border-radius:6px;
    display: none;
}
.user-detail-msgpush-main{
    text-align: center;
}
.user-detail-msgpush-main p{
    text-align: center;
    color: #666666;
    box-sizing: border-box;
    padding-left: 150px;
    padding-right: 150px;
    font-size: 16px;
    margin-top: 40px;
    margin-bottom: 20px;
}
.user-detail-msgpush-main p label{
    color: #fb6a34;
    font-size: 16px;
}
.user-detail-msgpush-main .user-button{
    width: 150px;
    height: 40px;
    font-size: 16px;
    color: #fff;
    text-align: center;
    outline: none;
    border: none;
    background: #02ad63;
    border-radius: 5px;
}
.user-detail-box-passettel .user-button{
    width: 150px;
    height: 40px;
    font-size: 16px;
    color: #fff;
    text-align: center;
    outline: none;
    border: none;
    background: #02ad63;
    border-radius: 5px;
}
.user-detail-box-phonemodify{
    width: 600px;
    height: 340px;
    background: #fff;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -300px;
    margin-top: -170px;
    z-index: 7;
    border-radius:6px;
    display: none;
}
.user-detail-phonemodify-main{

    box-sizing: border-box;
    padding-top: 50px;
}
.phonemodify-new span, .phonemodify-yzm span{
    font-size: 16px;
    color: #666;
}
.phonemodify-new input{
    width: 190px;
    height: 40px;
    outline: none;
    border: 1px solid #ddd;

}
.user-detail-phonemodify-main input{
    box-sizing: border-box;
    padding-left: 5px;
    margin-left: 20px;
    margin-right: 10px;
}
.phonemodify-yzm input{
    width: 190px;
    height: 40px;
    outline: none;
    border: 1px solid #ddd;
    margin-left: 20px;
}
.phonemodify-new{
    margin-bottom: 30px;
    margin-left: 109px;
}
.phonemodify-yzm{

    margin-left: 94px;
}
.user-detail-phonemodify-main button{
    width: 60px;
    height: 40px;
    outline: none;
    border: none;
    border-radius: 5px;
    color: #757575;
    font-size: 16px;
    position: relative;
    top: 2px;
}
.phonemodify-button{
    background: #02ad63!important;
    color: #fff !important;
}




.user-detail-box-phonemodifyyz{
    width: 600px;
    height: 300px;
    background: #fff;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -300px;
    margin-top: -120px;
    z-index: 7;
    border-radius:6px;
    display: none;
}

.user-detail-phonemodifyyz-main p{
    text-align: center;
    color: #666666;
    box-sizing: border-box;
    padding-left: 150px;
    padding-right: 150px;
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.user-detail-phonemodifyyz-main p label{
    color: #fb6a34;
    font-size: 16px;
}
.user-detail-phonemodifyyz-main .user-button{
    width: 150px;
    height: 40px;
    font-size: 16px;
    color: #fff;
    text-align: center;
    outline: none;
    border: none;
    background: #02ad63;
    border-radius: 5px;
}
.user-detail-phonemodifyyz-main p{
    font-size: 14px;
    color: #666666;
    margin-top: 50px;
    margin-bottom: 10px;
    text-align: center;
}
.user-detail-phonemodifyyz-main input{
    width: 260px;
    height: 40px;
    display: inline-block;
    margin-left: 140px;
    box-sizing: border-box;
    padding-left: 5px;
    border: 1px solid #e6e6e6;
}
.user-detail-phonemodifyyz-main button{
    height: 42px;
    outline: none;
    border: none;
    background: #e5e5e5;
    font-size: 14px;
    color: #757575;
    position: relative;
    top: 0px;
    margin-left: 10px;
    border-radius: 5px;
    width: 100px;
}

.click{
    background: #02ad63!important;
    color: #fff !important;
    width: 90px!important;
}
.error{
    display: none;
}
.passettel-error{
    box-sizing: border-box;
    padding-left: 138px;
    margin-top: 10px;
    font-size: 12px;
    color:#fb4234;
}
.passettel-iserror{
    border: 1px solid #fb4234;
}



.user-detail-box-phonemodifymsg{
    width: 600px;
    background: #fff;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -300px;
    margin-top: -112px;
    z-index: 7;
    border-radius:6px;
    display: none;
}
.user-detail-phonemodifymsg-main{
    text-align: center;
    padding-bottom: 50px;
}
.user-detail-phonemodifymsg-main p{
    text-align: center;
    color: #666666;
    box-sizing: border-box;
    padding-left: 150px;
    padding-right: 150px;
    font-size: 16px;
    margin-top: 50px;
    margin-bottom: 20px;
}
.user-detail-phonemodifymsg-main p label{
    color: #fb6a34;
    font-size: 16px;
}
.user-detail-phonemodifymsg-main .user-button{
    width: 150px;
    height: 40px;
    font-size: 16px;
    color: #fff;
    text-align: center;
    outline: none;
    border: none;
    background: #02ad63;
    border-radius: 5px;
}
.zfb-nobind{
    color: #4d8cff;
    border: 1px solid #4d8cff !important;
}

.user-detail-zfbbind-main-input{
    width: 384px;
    height: 44px;
    color: #333;
    font-size: 18px;
    border: none;
    border: 1px solid #ddd;
    padding-left: 40px;
    box-sizing: border-box;
    margin-bottom: 20px;

}
.useralipay{
    background: url("../../Images/wallet/zfb_icon.png") no-repeat;
    background-size: 24px 24px;
    background-position-y: 10px;
    background-position-x: 8px;
}
.userphone{
    background: url("../../Images/wallet/user_phone.png") no-repeat;
    background-size: 24px 24px;
    background-position-y: 10px;
    background-position-x: 8px;
}
.userlock{
    background: url("../../Images/wallet/lock.png") no-repeat;
    background-size: 24px 24px;
    background-position-y: 10px;
    background-position-x: 8px;
    width: 264px;
    text-align: left;
    position: relative;
    left: -4px;
}
.sendcode{
    width: 110px;
    height: 46px;
    text-align: center;
    font-size: 16px;
    color: #999;
    border: none;
    outline: none;
    border-radius: 5px;
    position: relative;
    left: 5px;
    top: -2px;
}
.codetrue{
    background: #02ad63;
    color: #fff;
}
.submitcode{
    width: 180px;
    height: 40px;
    background: #02ad63;
    text-align: center;
    font-size: 16px;
    color: #fff;
    border: none;
    
}